.grid {
  height: 400px;
  width: 200px;
  background-color: rgb(255, 230, 0);
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: 20px;
  height: 20px;
}

.tetoris {
  background-color: rgb(17, 0, 255);
}

.block {
  background-color: blue;
}

.block2 {
  background: purple;
}
