<nav>
  <div class="site-title">
    <h1><a href="/">Free Writing Blog</a></h1>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/create/blog">Post Blog</a></li>
  </ul>
</nav>
