<!DOCTYPE html>
<html lang="ja">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>
    <main>
      <h2>Sorry...</h2>
      <p>Cannot find your access page.</p>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
