<!DOCTYPE html>
<html lang="ja">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>
    <main>
      <h2>About me</h2>
      <p>
        あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。
      </p>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
